.git-backed/*
Carthage/*
.DS_Store
*/.DS_Store
**/.DS_Store
Biu.plist
*/Biu.plist
**/Biu.plist
*/node_modules
lamofire.framework.dSYM
Cache.framework.dSYM
Kingfisher.framework.dSYM
KingfisherSwiftUI.framework.dSYM
SwiftyJSON.framework.dSYM
getStart.sh
node_modules